version: '3.3'

services:
  db:
    build: ./db
    env_file:
      - ./db/.env
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      backend: 
        ipv4_address: "10.5.0.2"

  user-service:
    build: ./user-service
    ports:
      - 3213:3213
    volumes: 
      - ./model:/code/model
      - ./schema:/code/schema
    networks:
      backend: 
        ipv4_address: "10.5.0.3"
        
  gateway-service:
    build: ./gateway-service
    ports:
      - 3212:3212
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
    networks:
      backend:
        ipv4_address: "10.5.0.4"

  auth-service:
    build: ./auth-service
    ports:
      - 3214:3214
    volumes: 
      - ./model:/code/model
      - ./schema:/code/schema
    networks:
      backend:
        ipv4_address: "10.5.0.5"
      
  tmdb-service:
    build: ./tmdb
    ports:
      - 3310:3213
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
    networks:
      backend:
        ipv4_address: "10.5.0.10"


networks:
  backend: 
    driver: bridge
    ipam: 
      config:
        - subnet: "10.5.0.0/27"
          gateway: "10.5.0.1"

volumes:
  mysql-data:
