version: '3.3'

services:
  db:
    build: ./db
    ports:
      - 3306:3306
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
      - ./.env:/code/src/.env
    networks:
      backend: 
        ipv4_address: "10.5.0.2"
    healthcheck:
        test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
        timeout: 10s
        retries: 6

  user-service:
    build: ./user-service
    ports:
      - 3213:3213
    volumes: 
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend: 
        ipv4_address: "10.5.0.3"
        
  gateway-service:
    build: ./gateway-service
    ports:
      - 3212:3212
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.4"

  auth-service:
    build: ./auth-service
    ports:
      - 3214:3214
    volumes: 
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.5"
        
  group-service:
    build: ./group-service
    ports:
      - 3215:3215
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.6"
        
  preference-service:
    build: ./preferences-service
    ports:
      - 3216:3216
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.7"

  movie-service:
    build: ./movie-service
    ports:
      - 3219:3219
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.9"

  tmdb-service:
    build: ./tmdb
    ports:
      - 3310:3213
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.10"

  reco-service:
    build: ./reco_service
    depends_on:
      db: 
        condition: service_healthy
    links:
      - db
    ports:
      - 3217:3220
    volumes:
      - ./model:/code/model
      - ./schema:/code/schema
      - ./.env:/code/src/.env
    networks:
      backend:
        ipv4_address: "10.5.0.11"


networks:
  backend: 
    driver: bridge
    ipam: 
      config:
        - subnet: "10.5.0.0/27"
          gateway: "10.5.0.1"

volumes:
  mysql-data:
