<section>
  <div class="recommendation-header">
    <h2>Your movies</h2>
    <div class="sub-header">
      <div class="pimp-button">
        <button (click)="onListChange()" class="all">Watched</button>
        <button (click)="onListChange()" class="watched">All</button>
      </div>
      <div *ngIf="watched" class="search-form">
        <input [(ngModel)]="search" type="text" placeholder="Search movie title">
        <button type="button" (click)="onClickSearch()">Search</button>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let movie of displayList">
      <div class="card-image">
        <img [src]="movie.poster"  alt="{{movie.poster}} Image">
      </div>
      <div class="card-content">
        <h2 class="card-title">{{ movie.title}}</h2>
        <p class="card-text">{{movie.release_date}}</p>
        <p class="card-text">{{movie.overview}}</p>
        <button *ngIf="watched" (click)="markAsSeen(movie.uid)">Vu</button>
      </div>
    </div>
  </div>
</section>
