
<br>
<form (ngSubmit)="onSubmit()">
  <label>
    Email:
    <input type="email" [(ngModel)]="email" name="email" required>
  </label>
  <label>
    Password:
    <input type="password" [(ngModel)]="password" name="password" required>
  </label>
  <label>
    First Name:
    <input type="text" [(ngModel)]="firstName" name="firstName" required>
  </label>
  <label>
    Last Name:
    <input type="text" [(ngModel)]="lastName" name="lastName" required>
  </label>
  <label>
    Genre:
    <input type="text" [(ngModel)]="genre" name="genre" required>
  </label>
  <label>
    Age:
    <input type="number" [(ngModel)]="age" name="age" required>
  </label>
  <button type="submit">Register</button>
</form>
