<nav *ngIf="isConnected" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" >WatchOurMovie</a>
  <ng-template #redirectUrl>
    <a routerLink="/">Go to Home</a>
  </ng-template>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile">Profil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/group">Profil</a>
      </li>
    </ul>
  </div>
</nav>

<!--  { path: '', component:PrefFormComponent},
  {path:'login',component:LoginComponent},
  {path:'register',component:RegisterComponent},
  {path:'group',component:GroupComponent},
  {path:'updateUser',component:UserProfileUpdateComponent},
  {path:'profile',component:UserProfileComponent}-->
