$wow-darkest:#1E1E1E;
$wow-bg:#292929;
$wow-text:#f8f9fa;
.multiple-form{
  position:absolute;
  z-index: 0;
  width:100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  color: $wow-text;
  font-family: arial;
  .login-form,.signup-form{
    width: 30%;
    height: auto;
    background-color: $wow-darkest;
    border-radius: 0 0 5px 5px;
    border: 1px solid transparent;
    .underline{
      text-decoration: underline;
      cursor:grab;
    }
    .underline:active{
      cursor: grabbing;
    }
  }
  h1{
    text-align:center;
    padding:1rem;
    background-color: $wow-text;
    margin: 0 0 1rem 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid transparent;
    color: $wow-bg;
  }
  form{
    display:flex;
    flex-direction: column;
    padding:1.5rem 1.5rem 2rem 1.5rem;
    gap:1rem;
    input{
      background-color: $wow-bg;
      border-radius: 5px;
      border-color:transparent;
      height:2rem;
      color:$wow-text;
    }
    div{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .standard-button{
      border-color: $wow-text;
      background-color: transparent;
      color:$wow-text;
      width:50%;
      align-self: end;
    }
    span{
      text-align: center;
    }
  }
}
.square{
  position:relative;
  z-index:1;
  width:50%;
  height:100%;
  background-color:$wow-text;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:arial;
  color:$wow-darkest;
  .login-pitch{
    h1{
      font-size: 2em;
    }
  }
  .signup-pitch{

    h1{
      font-size: 2em;
    }
  }
}



