<section>

  <div class="wrapper fadeInDown">
    <br>
    <br>
    <div id="formContent">
      <div class="fadeIn first">
        <img src="assets/video-camera-svgrepo-com.svg" id="icon" alt="User Icon" />
      </div>
      <br>
      <form  (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second"[(ngModel)]="username" name="login" placeholder="login" required>
        <input type="password" id="password"[(ngModel)]="password" class="fadeIn third" name="login" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</section>
