$wow-bg:#292929;
$wow-darkest:#1E1E1E;
$wow-light:#F1F1F1;
$wow-primary:#3F51B5;

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  background-color: $wow-bg;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px 10px  0 0;
    width:100%;
    background-color: $wow-darkest;
  }
  ul{
    padding: 20px;
  }
  .form-member, .form-group{
    background-color: $wow-bg;
    border-top:1px solid $wow-darkest;
    border-radius: 0 0 10px 10px;
    display: flex;
    gap:10px;
    input{
      border-bottom:1px solid $wow-light;
      outline: none;
      background-color: transparent;
      color: $wow-light;
      border-radius: 0;
    }
  }

}
.standard-button{
  background-color: transparent;
  color:$wow-light;
  border:1px solid $wow-light;
  border-radius:10px;
}

.modal-container h2 {
  margin-top: 0;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-container label {
  font-weight: bold;
}

.modal-container input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.modal-container button[type="submit"] {
  background-color: $wow-light;
  color: $wow-darkest;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
}

.modal-container button[type="submit"]:hover {
  background-color: $wow-primary;
  color:$wow-light;
  border-radius: 0 0 10px 10px;
}

section
{
  min-height: calc(100% - 12em);
  display:flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding:1rem;
  .greeting{
    color:$wow-light;
    width:80%;
    font-size:1rem;
    div{
      display: flex;
      width:20%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      button{
        border-radius: 15px;
        border:1px solid transparent;
      }
    }
  }
  .group-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-gap:1rem;
    width:80%;
    .group-card {
      position: relative;
      border-radius: 15px 15px 0 0;
      .group-card-img
      {
        height:70%;
        width: 100%;
        border-radius:15px 15px 0 0;
        object-fit: cover;
        brightness:100%;
        background-color: #1E1E1E;
      }
      .group-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute; /* Position the background text */
        top:0;/* At the bottom. Use top:0 to append it to the top */
        background-color: transparent; /* Black background with 0.5 opacity */
        color: transparent; /* Grey text */
        width: 100%; /* Full width */
        border-radius: 15px;
        height: 70%;
        transition-property: background-color,color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      .group-card-body:hover {
        background-color: rgba(30,30,30,0.6);
        color: #EFEBE0;
        transition-property:color,background;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      .group-card-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $wow-primary;
        border: 1px solid transparent;
        border-radius:  0 0 10px 10px;
        padding:1rem;
        button{
          color:$wow-light;
          background-color: transparent;
          outline: none;
          border: none;
        }
      }
    }
  }
}

