/* You can add global styles to this file, and also import other style files */
$wow-bg:#292929;
$wow-darkest:#1E1E1E;
$wow-light:#F1F1F1;
html,body{
  background-color: $wow-bg;
  color:$wow-light;
  height:100%;
  width:100%;
}
ul{
  list-style: none;
}
.standard-button{
  border:1px solid;
  border-radius:5px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
