$wow-darkest:#1E1E1E;
$wow-bg:#292929;
$wow-text:#f8f9fa;
$wow-primary:#3F51B5;

section{
  background-color: $wow-bg;
  padding:2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: arial;
  color:$wow-text;
  gap:2rem;
  .greeting-profil{
    width:85%;
  }
  .profil{
    width:85%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .profil-info{
      width:70%;
      padding:1rem;
      background-color: $wow-darkest;
      border-radius: 0 0 5px 5px;
      border: 1px solid transparent;
      .profil-brand{
        background-color: $wow-bg;
        padding:0.5rem 1rem 0.5rem 1rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
      }
      span{
        display:inline-flex ;
        font-size: 0.8rem;
        padding:1rem 2rem 1rem 2rem;
      }
    }
    .profil-summary{
      width:20%;
      padding:2rem;
      background-color: $wow-darkest;
      border-radius: 0 0 5px 5px;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .img{
        display:block;
        height: 65%;
        width:80%;
        align-self: center;
        background-color: $wow-text;
        border-radius: 50%;
      }
      span{
        text-align:center;
      }
    }
  }
}
.profil-form{
  display:flex;
  flex-direction: column;
  padding:1rem 2rem 1rem 2rem;
  gap: 1rem;
  .radio-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    div{
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
    }
  }
  .input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input{
      width:70%;
      background-color: $wow-bg;
      border-radius: 5px;
      border-color:transparent;
      height: 1.5rem;
      margin:0;
    }
  }
  .standard-button{
    align-self: end;
  }
}
.preferences{
  width:81%;
  background-color: $wow-darkest;
  padding:2rem;
  .preferences-brand{
    background-color: $wow-bg;
    padding:0.5rem 1rem 0.5rem 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .preferences-research{
      form{
        display: flex;
        gap:1rem;
        input{
          background-color: transparent;
          border: transparent;
          border-bottom: 2px solid $wow-text;
          color:$wow-text
        }
        input::placeholder{
          color:$wow-text
        }
        input:focus{
          outline: none;
        }
        .standard-button{
          outline:none;
          border: 1ps solid $wow-text;
          background-color: transparent;
          color:$wow-text;
        }
        .standard-button:hover{
          color:$wow-darkest;
          background-color: $wow-text;
        }
      }
    }
  }
  .preference-tags{
    padding:2rem;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    .pills{
      padding:0.2rem 0.2rem 0.2rem 0.5rem;
      border:1px solid transparent;
      border-radius:15px;
      background-color: $wow-primary;
      display:flex;
      justify-content: center;
      align-items: center;
      width:auto;
      .pills-button{
        background-color: transparent;
        border: none;
        outline: none;
        color:$wow-text;
      }
    }
    .pills:hover{
      background-color: #5768c4;
    }
  }
}
