<div class="recommendation-container">
  <div class="recommendation-header">
    <h2>Films recommandés</h2>
    <div>Par groupe:  <select [(ngModel)]="selectedGroup" (change)="onGroupChange()">
     <option *ngFor="let group of groups" [value]="group.uid">{{ group.group_name }}</option>
    </select>
    </div>
    <button class="btn btn-success" (click)="getUserRec()">Pour moi</button>
  </div>

  <div class="movie-cards">
    <div class="movie-card" *ngFor="let movie of recommendedMovies">
      <img [src]="movie.poster" alt="Affiche du film {{ movie.title }}">
      <div class="movie-details">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.genres.join(', ') }}</p>
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
