.recommendation-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.recommendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
  width: 300px;
}

.movie-card img {
  height: 400px;
  object-fit: cover;
  border:none
}

.movie-details {
  padding: 20px;
}

.movie-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.movie-details p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}